/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

.form-container {
    margin: 40px auto; 
    width: 400px;
    padding: 20px;
    border: 2px solid #00bcd4;
    border-radius: 15px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

    .form-container h1 {
        width: 400px;
        font-size: 28px;
        margin-bottom: 20px;
        color: #4A148C;
        text-align: center;
        text-shadow: 1px 1px 2px #ccc;
        border-bottom: 2px solid #4A148C;
        padding-bottom: 10px;
    }

input {
    display: block;
    margin: 5px 0 15px 0;
    padding: 5px;
    width: 350px;
    border-radius: 8px;
    border: 1px solid #ccc; 
    box-sizing: border-box; 
}

.button {
    padding: 8px 16px;
    background-color: #4A148C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#datoTabla {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #00bcd4;
    border-radius: 10px;
    overflow: hidden;
    width: 800px;
    table-layout: fixed;
    word-wrap: break-word;
    text-align: center;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #808080;
}

th {
    background-color: #e0e0e0;
    font-weight: bold;

}

td {
    word-wrap: break-word;
    white-space: normal;
}
